.main {
  width: 80%;
  margin: 0 auto;
}
header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  color: #1d2088;
  /* height: 8rem;
  line-height: 8rem; */
  padding: 2rem 0;
}
.logo {
  display: flex;
  align-items: center;
}
header .logo h1 {
  margin-left: 2rem;
  font-size: 3.125rem;
  text-indent: 1px;
  font-weight: 500;
}
header .logo .logoIMG {
  width: 7.125rem;
  height: auto;
}
header .call .phone {
  color: #e60012;
  font-size: 3.125rem;
  margin: 0 1rem;
}
header .call .call-text {
  height: 3.375rem;
  line-height: 3.1rem;
  font-size: 2.25rem;
  padding: 0 0.3rem;
  border: 1px solid #1d2088;
}
header .call .wecat {
  font-size: 1.375rem;
}

.banner {
  width: 100%;
  height: auto;
}
.cont1 h1 {
  background: #1d2088;
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: -1px;
  font-style: oblique;
  color: #fff;
  padding: 2rem;
}
.cont1 h1 span {
  font-size: 4.25rem;
}
h1.bannerText {
  position: absolute;
  bottom: 11rem;
  left: 20%;
  background: transparent;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: -1px;
  font-style: oblique;
  color: #fff;
  padding: 2rem;
  -moz-text-shadow: #1d2088 2px 0 0, #1d2088 0 2px 0, #1d2088 -1px 0 0, #1d2088 0 -1px 0;
  text-shadow: #1d2088 2px 0 0, #1d2088 0 2px 0, #1d2088 -1px 0 0, #1d2088 0 -1px 0;
  -webkit-text-shadow: #1d2088 2px 0 0, #1d2088 0 1px 0, #1d2088 -1px 0 0, #1d2088 0 -1px 0;
}
.cont2 {
  margin: 11.25rem auto;
}
.qus {
  position: relative;
  width: 50%;
  /* height: 5.125rem; */
  /* line-height: 5.125rem; */
  border: 0.125rem solid #1d2088;
  color: #1d2088;
  font-size: 2.9375rem;
  border-radius: 3rem;
  padding: 2rem;
  padding-left: 6rem;
  font-weight: 700;
  background: #fff;
}
.qus span {
  position: absolute;
  color: #e60012;
  font-size: 5rem;
  top: 50%;
  transform: translate(0, -50%);
  left: 1rem;
}
.cont2 .qusBox {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  align-items: center;
}
.cont2 .qusBox li {
  position: relative;
  background: url(../images/border.png) no-repeat;
  background-size: cover;
  width: 35%;
  height: 10.375rem;
  font-size: 2.625rem;
  margin-top: 2rem;
}
.cont2 .qusBox li span.num {
  position: absolute;
  top: 0.625rem;
  left: 10%;
  color: navy;
  font-weight: 700;
}

.cont2 .qusBox li .qusText {
  position: absolute;
  right: 2.5rem;
}

.cont2 .phoneBox {
  text-align: center;
}
.cont2 .phoneBox .right li {
  /* height: 5.125rem; */
  /* line-height: 5.125rem; */
  font-size: 2.625rem;
  border: 0.125rem solid #1d2088;
  border-radius: 1.9rem;
  padding: 0.5rem 3rem;
  margin-bottom: 2rem;
  box-sizing: border-box;
  font-weight: 700;
  text-align: left;
}

.cont3-part1 {
  position: relative;
  padding-bottom: 40rem;
  background-size: contain;
  background: url(../images/banner3.gif) bottom center no-repeat, linear-gradient(#fff, #1d2088 20%);
}
.cont3-part1 h1.font-hy {
  position: absolute;
  width: 56%;
  bottom: 10rem;
  right: 10%;
  font-size: 4rem;
  color: #fff;
  font-style: oblique;
}
.cont3-part1 h1.font-hy span {
  font-size: 5rem;
}
.cont3 .tcBox li {
  display: flex;
  /* width: 100%; */
  padding: 2rem 5rem;
  background: #fff;
  border-radius: 2rem;
  border: 1px solid #aa7605;
  color: #1d2088;
  margin-bottom: 2rem;
}
.cont3 .tcBox li:last-child .flex {
  padding-bottom: 2rem;
  border-bottom: 0.125rem solid #1d2088;
}
.cont3 .tcBox li .left {
  text-align: right;
  width: 35%;
}
.cont3 .tcBox li .right {
  text-align: left;
  flex: 1;
  font-size: 1.75rem;
  margin-left: 2rem;
  margin-top: 1rem;
}
.cont3 .tcBox li .left h1 {
  font-size: 3.25rem;
}
.cont3 .tcBox li .left h2 {
  font-size: 2.25rem;
}

.cont3 .tcBox li .right p span {
  display: inline-block;
  width: 50%;
}
.cont3 .tcBox li p {
  font-size: 1.75rem;
  margin-left: 2rem;
  margin-top: 1rem;
}
.cont3 .callBox {
  background: #aa7605;
  color: #fff;
  text-align: center;
  width: 100%;
  padding: 4rem;
}
.cont3 .callBox h1 {
  font-size: 5.5rem;
  font-weight: 700;
}
.cont3 .callBox h2 {
  font-size: 4.75rem;
  font-weight: 500;
}
.cont3 .callBox p {
  font-size: 3.3rem;
  font-weight: 200;
}
.cont4 {
  height: 62.5rem;
  background-position: center;
  background-size: cover;
  background-image: url(../images/banner2.gif);
}
.cont4 .pr {
  height: 100%;
}
.cont4 .pr .people {
  position: absolute;
  bottom: 0;
  right: 15%;
  height: 90%;
  width: auto;
}

.cont4 .pr .cont4-title {
  position: absolute;
  left: 10%;
  top: 35%;
  color: #1d2088;
  font-style: oblique;
}
.cont4 .pr .cont4-title h2 {
  font-size: 2.5rem;
}
.cont4 .pr .cont4-title h1 {
  font-size: 5rem;
}
.cont4 .pr .cont4-text {
  position: absolute;
  bottom: 10%;
  left: 10%;
}
.cont4 .pr .cont4-text h3 {
  font-size: 2rem;
  margin-bottom: 2rem;
}
.cont4 .pr .cont4-text p {
  line-height: 3rem;
  font-size: 1.5rem;
}

.cont5 {
  background: #1d2088 url(../images/banner4.gif) bottom center no-repeat;
  padding-bottom: 30%;
  background-size: contain;
}
.cont5 .title {
  font-size: 2.6rem;
  color: #fff;
  /* text-align: center; */
  padding: 4rem 0;
}

.cont5 .youdian {
  background: #fff;
  border: 0.125rem solid #aa7605;
  border-radius: 10px;
  text-align: center;
  padding: 4rem;
}
.cont5 .youdian h1 {
  color: #1d2088;
  font-size: 4rem;
  margin-bottom: 2rem;
}
.cont5 .youdian ul.yd-part1 {
  display: flex;
  margin: 6.25rem 0;
}
.cont5 .youdian ul.yd-part1 li {
  flex: 1;
}
.cont5 .youdian ul.yd-part1 .yd-item {
  position: absolute;
}
.cont5 .youdian ul.yd-part1 .yd-item h2 {
  font-size: 2.6rem;
  padding-right: 1.5rem;
}
.cont5 .youdian ul.yd-part1 .yd-item p {
  font-size: 2.2rem;
  text-align: left;
}
.yd-item:nth-of-type(2) {
  top: 60%;
}
.cont5 .yd-part2 {
  display: flex;
  align-items: center;
  color: #1d2088;
  border: 0.125rem solid #1d2088;
  border-left: none;
  border-right: none;
  padding: 2rem 2rem 1rem;
}

.cont5 .yd-part2 h1 {
  font-size: 6rem;
  width: 2em;
}
.cont5 .yd-part2-text {
  margin-top: 1rem;
  margin-left: 5rem;
  font-size: 2rem;
  line-height: 4rem;
  text-align: left;
}

.cont5 .yd-part3 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.cont5 .yd-part3 li {
  width: 33.3%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 4rem;
}
.cont5 .yd-part3 li p {
  display: inline-block;
  font-size: 2.3rem;
  color: #fff;
  background: #1d2088;
  padding: 1rem;
  width: 83%;
  height: 10rem;
}
.cont5 .yd-part3 li p.l8 {
  line-height: 8rem;
}
.cont5 .yd-part3 li span {
  font-size: 2rem;
  color: #1d2088;
  display: inline-block;
  text-align: center;
}

.cont6 h3 {
  font-size: 2.5rem;
}
.cont6 p {
  font-size: 2rem;
  line-height: 3rem;
}
.cont6 .cont6-part1 {
  padding: 4rem 0;
}
.cont6 .cont6-part2 {
  padding: 2rem;
  border: 1px solid #aa7605;
}
.cont6 .cont6-part2 p {
  line-height: 5rem;
}
.cont6 .cont6-part2 .erweima {
  width: 20rem;
}
.cont6 .cont6-part2 .callme img {
  width: 5rem;
  height: 5rem;
}

.cont6 .cont6-part2 .callme a {
  margin-right: 2rem;
  color: #1d2088;
}
.cont6 {
  margin-bottom: 5rem;
}

/* 移动端 样式 */
@media screen and (max-width: 760px) {
  .main {
    width: 90%;
  }
}
@media screen and (max-width: 460px) {
  .cont1 h1.bannerText {
    bottom: 5%;
    padding: 0;
  }
  .qus {
    width: 60%;
    padding-left: 8%;
  }
  .cont2 {
    margin: 10% auto;
  }
  .cont2 .qusBox li span.num {
    top: 0;
  }
  .cont2 .qusBox li {
    background-size: contain;
    height: 8vh;
  }
  .cont2 .qusBox li .qusText{
    right: 10%;
    top: -20%;
  }
  .cont2 .phoneBox .right li {
    padding: 1% 5%;
  }
  .cont3 .tcBox li .right {
    margin: 0;
  }
  .cont3-part1 {
    padding-bottom: 30%;
    padding-top: 10%;
  }
  .cont3-part1 h1.font-hy{
    bottom: 2em;
  }
  .cont3 .tcBox li{
    padding: 2%;
  }
  .cont3 .tcBox li .left{
    margin-top: 3%;
  }
  .cont4 .pr .people {
    height: auto;
    width: 40%;
    right: 5%;
  }
  .cont4 {
    height: 30vh;
  }
  .cont5 .youdian ul.yd-part1 .yd-item{
    top: -10%;
  }
  .cont5 .youdian ul.yd-part1 .yd-item:nth-of-type(2){
    top: 70%;
  }
  .cont5 h1.bannerText{
    bottom: 2%;
  }
  .cont5 .youdian h1 {
    margin-bottom: 0;
    width: 3em;
  }
  .cont5 .yd-part2-text{
    line-height: 2;
  }
  .cont5 .yd-part3 li p.l8 {
    line-height: 2;
  }
  .cont5 .yd-part3 li p {
    height: auto;
  }
  .cont4 .pr .cont4-text p{
    line-height: 1.2;
  }
  .cont6 .cont6-part2 p{
    line-height: 2;
  }
  .cont6 .cont6-part2 .erweima {
    width: 40%;
  }
  .cont6 .cont6-part2 .callme img {
    width: 100%;
    height: auto;
  }
  .cont6 .cont6-part2 > div.flex {
    width: 50%;
  }
}

@-webkit-keyframes bounce-down {
  25% {
    -webkit-transform: translateY(-5px);
  }
  50%,
  100% {
    -webkit-transform: translateY(0);
  }
  75% {
    -webkit-transform: translateY(5px);
  }
}

@keyframes bounce-down {
  25% {
    transform: translateY(-5px);
  }
  50%,
  100% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(5px);
  }
}

.animate-bounce-down {
  -webkit-animation: bounce-down 1.5s linear infinite;
  animation: bounce-down 1.5s linear infinite;
}
